<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"
           style="font-family:georgia,garamond,serif;font-size:28px;">
            {%- if site.logo -%}
            <img height="{{ site.logo.height | default: 52 }}" src="{{ site.logo.path }}"/>
            {%- else -%}
            {{ site.title }}
            {%- endif -%}
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                {%- for link in site.data.navigation.nav -%}
                <li class="nav-item">
                    {%- if link.url -%}
                    <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
                    {%- else if link.section -%}
                    <a class="nav-link js-scroll-trigger" href="#{{ link.section }}">{{ link.title }}</a>
                    {%- else -%}
                    <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
                    {%- endif -%}
                </li>
                {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navigation -->

<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            {%- if site.data.sitetext.header.title -%}
            <div class="intro-heading text-uppercase"
                 {%- if site.data.sitetext.header.titleanimation -%}
                 data-aos="{{ site.data.sitetext.header.titleanimation }}"
                 {%- endif -%}
            >
                {{ site.data.sitetext.header.title | markdownify }}
            </div>
            {%- endif -%}

            {%- if site.data.sitetext.header.text -%}
            <h1>
                The hub of data science
                <span class="txt-rotate"
                      data-period="2000"
                      data-rotate='{{ site.data.sitetext.header.text }}'>
                </span>
                at the <a href="https://uregina.ca">U of Regina</a>
            </h1>
            {%- endif -%}

            {%- if site.data.sitetext.header.button -%}
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
               href="{{ site.data.sitetext.header.buttonlink }}">
                {{ site.data.sitetext.header.button }}
            </a>
            {%- endif -%}
        </div>
    </div>
</header>
<!-- End Header -->