// Styling for the horizontally scrolling clients section
#scrolling-clients {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#col-md-2 col-sm-6 {
  flex: 0 0 auto;
}
