<section class="counter-section" id="counter">
    <div class="container">
        <div class="row">
            {% for item in page.footer %}
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="counter margin-b-30">
                    <h1 class="title"><b><span class="counter-value" data-duration="800"
                                               data-count="{{ item.count }}">0</span></b>
                    </h1>
                    <h5 class="desc"><b>{{ item.title }}</b></h5>
                </div><!-- counter -->
            </div><!-- col-md-3-->
            {% endfor %}
        </div><!-- row-->
    </div><!-- container-->
</section><!-- counter-section-->