<header>
    <div class="container">
        <div class="heading-wrapper">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="info">
                        <i class="icon ion-ios-location-outline"></i>
                        <div class="right-area">
                            <h5>{{ page.address }}</h5>
                            <h5>{{ page.address_text }}</h5>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="info">
                        <i class="icon ion-ios-telephone-outline"></i>
                        <div class="right-area">
                            <h5>{{ page.number }}</h5>
                            <h6>{{ page.number_text }}</h6>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="info">
                        <i class="icon ion-ios-chatboxes-outline"></i>
                        <div class="right-area">
                            <h5>{{ page.email }}</h5>
                            <h6>{{ page.email_text }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="downlad-btn" href="{{ site.url }}#team">Back to Home</a>
    </div>
</header>