<section class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-lg-2"></div>
            <div class="col-md-10 col-lg-8">
                <div class="intro">
                    <div class="profile-img">
                        <img src="{{ site.url }}/{{ page.image }}" alt="{{ page.alt }}">
                    </div>
                    <h2><b>{{ page.name }}</b></h2>
                    <h4 class="font-yellow">{{ page.role }}</h4>
                    <ul class="information margin-tb-30">
                        {% if page.email %}
                        <li><b>EMAIL : </b><a href="mailto:{{ page.email }}">{{ page.email }}</a></li>
                        {% endif %}
                    </ul>
                    {% if page.social %}
                    <ul class="social-icons">
                        {% for social in page.social %}
                        <li><a href="{{ social.url }}"><i class="{{ social.icon }}"></i></a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div><!-- intro -->
            </div><!-- col-sm-8 -->
        </div><!-- row -->
    </div><!-- container -->
</section><!-- intro-section -->