<!-- Meta -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<!-- Primary Meta Tags -->
<title>{{ site.title }} | {{ page.name }}</title>
<meta name="title" content="{{ page.name }}">
<meta name="description" content="{{ page.about }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url }}">
<meta property="og:title" content="{{ page.name }}">
<meta property="og:description" content="{{ page.about }}">
<meta property="og:image" content="{{ site.url }}/{{ page.image }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ page.url }}">
<meta property="twitter:title" content="{{ page.name }}">
<meta property="twitter:description" content="{{ page.about }}">
<meta property="twitter:image" content="{{ site.url }}/{{ page.image }}">